.container {
  display: grid;
}
.container {
  display: grid;
  grid-template-columns: 100px 200px 100px;
  grid-template-columns: 1fr 2fr 1fr;

  grid-template-rows: 100px 150px;
  place-items: center;

  gap: 10px;
  row-gap: 20px;
  column-gap: 20px;
}

.grid-container {
  background-color: aquamarine;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-columns: 100px 200px 100px 200px; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;

  gap: 20px;
}
.box {
  background-color: chocolate;
  /* margin: 20px; */
  /* margin: 10px; */
  /* padding: 10px; */
  width: 100%;
  height: 100px;
  text-align: center;
}
